@import "mixins";
@import "variables";
#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 3.8rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }
  .hero-content {
    font-size: $default-font-size;
    font-weight: 400;
    text-align: left;
  }

  .hero-title {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1;
    text-align: left;

    @include respond(tab-land) {
      font-size: 3.5rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 2.7rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.6rem;
    }
  }
}
